@font-face {
    font-family: 'pokemon';
    src: url('assets/fonts/PC-9900-V2.TTF') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'pokemon';
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.j-center {
    justify-content: center;
}

.c-main {
    margin: 24px 0;
}

.dnone {
    display: none;
}

.blur {
    filter: blur(1.5rem);
    transition: filter 0.3s ease;
}

.textbox {
    width: 840px;
    height: 300px;
    background-image:  url("assets/imgs/txt_box2.png");
    background-position: 0px;
    display: flex;
    flex-direction: column;
}

#question {
    margin: 85px 0 0 0;
    font-size: 36px;
}

img {
  background-color: transparent;
}

html {
    background-color: black;
}

#seta {
    width: 80px;
    margin: 10px 65px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: end;
}

.flutuando {
    animation: flutuar 3s ease-in-out infinite;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);  /* Vai para cima */
    }
    100% {
        transform: translateY(0);  /* Retorna à posição inicial */
    }
}

#questionInput {
    width: 250px;
    height: 30px;
    margin-top: 20px;
    font-size: 23px;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}